t*.sh
login.sh
setup-vars.sh
example1
example2
*-*.tf
terraform.tfstate
terraform.*
tf.*
git*.sh
todo*
clean*.sh
.terraform*
backup
sub.*
dwp*
resources.txt
noprovider.txt
sub 2.7e97df51-9a8e-457a-ab7a-7502a771bb36-SSP/azure.tf
sub 2.7e97df51-9a8e-457a-ab7a-7502a771bb36-SSP/rg__AzureBackupRG_uksouth_1.tf
sub 2.7e97df51-9a8e-457a-ab7a-7502a771bb36-SSP/rg__NetworkWatcherRG.tf
sub 2.7e97df51-9a8e-457a-ab7a-7502a771bb36-SSP/rg__testVM.tf
